@import url(http://fonts.googleapis.com/css?family=Open+Sans:700);

body 
{
    width: 100%;
    margin: auto;
    background: #454545;
}
li
{
	display:inline;
}
#photo img
{
	padding-top: 20px;
	padding-bottom: 20px;
	float: right;	
	width: 548px;
	min-width: 200px;
	height: 548px;
	min-height: 200px;
	
}
ul 
{
	float: left;
	list-style-type: none;
	margin: 0;
	padding: 0;
}
#links li a	
{
	display: block;
	width: 100px;
	padding: 10px;
	margin: 0 5px 5px; 
	background-color:#ccc;
}
#footer
{
	clear: both;
	bottom: 0;
	text-align: right;
    padding-left: 75em;
    padding-top: 3px;
    position: fixed;
    font-family: 'Open Sans';
  	font-style: normal;
  	font-weight: 100;
}
#social_media
{
	padding-top: 5px;
	padding-left: 5px;
	float: left;
	width: 300px;
	height: 36px;
}
#social_media a
{
	padding: 2px;		
}
#photo img
{
	display: block;
	margin-left: auto;
	margin-right: auto;
}
#cssmenu 
{
  	background: #454545;
  	width: auto;
  	float: right;
}
#cssmenu ul {
  list-style: none;
  margin: 0;
  padding: 0;
  line-height: 1;
  display: block;
  zoom: 1;
}
#cssmenu ul:after {
  content: ' ';
  display: block;
  font-size: 0;
  height: 0;
  clear: both;
  visibility: hidden;
}
#cssmenu ul li {
  float: left;
  display: block;
  padding: 0;
}
#cssmenu ul li a 
{
  color: #ffffff;
  text-decoration: none;
  display: block;
  padding: 15px 25px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 14px;
  position: relative;
  -webkit-transition: color .25s;
  -moz-transition: color .25s;
  -ms-transition: color .25s;
  -o-transition: color .25s;
  transition: color .25s;
}
#cssmenu ul li a:hover {
  color: #00EE76;
}
#cssmenu ul li a:hover:before {
  width: 100%;
}
#cssmenu ul li a:after {
  content: '';
  display: block;
  position: absolute;
  right: -3px;
  top: 19px;
  height: 6px;
  width: 6px;
  background: #ffffff;
  opacity: .5;
}
#cssmenu ul li a:before {
  content: '';
  display: block;
  position: absolute;
  left: 0;
  bottom: 0;
  height: 3px;
  width: 0;
  background: #00EE76;
  -webkit-transition: width .25s;
  -moz-transition: width .25s;
  -ms-transition: width .25s;
  -o-transition: width .25s;
  transition: width .25s;
}
#cssmenu ul li.last > a:after,
#cssmenu ul li:last-child > a:after {
  display: none;
}
#cssmenu ul li.active a {
  color: #00EE76;
}
#cssmenu ul li.active a:before {
  width: 100%;
}
@media screen and (max-width: 768px) {
  #cssmenu ul li {
    float: none;
  }
  #cssmenu ul li a {
    width: 100%;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }
  #cssmenu ul li a:after {
    display: none;
  }
  #cssmenu ul li a:before 
  {
    height: 1px;
    background: #ffffff;
    width: 100%;
    opacity: .2;
  }
  #cssmenu ul li.last > a:before,
  #cssmenu ul li:last-child > a:before {
    display: none;
  }
}
#player
{
	display: inline-block;
	margin-left: 250px;
	/*margin-right: auto;*/
	margin-top: 50px;
}
iframe
{
}
#request_table
{
	margin-right: auto;		
}
#request_table td
{
	text-align: center;
}
#requests
{
	position: fixed;
	left: 660px;
	top: 100px;
	width: 370px;
	height: 460px;
	background-color: #303030;
	border: 5px #303030 solid;
	text-align: center;
}
#requests input
{
	text-align: center;
}
input[type=text]
{
	border: 5px solid white; 
    -webkit-box-shadow: 
      inset 0 0 8px  rgba(0,0,0,0.1),
            0 0 8px rgba(0,0,0,0.1); 
    -moz-box-shadow: 
      inset 0 0 8px  rgba(0,0,0,0.1),
            0 0 8px rgba(0,0,0,0.1); 
    box-shadow: 
      inset 0 0 8px  rgba(0,0,0,0.1),
            0 0 8px rgba(0,0,0,0.1); 
    padding: 4px;
    background: rgba(255,255,255,0.5);
    margin: 0 0 10px 0;
    width: 100%;
}
input[type=email]
{
	border: 5px solid white; 
    -webkit-box-shadow: 
      inset 0 0 8px  rgba(0,0,0,0.1),
            0 0 8px rgba(0,0,0,0.1); 
    -moz-box-shadow: 
      inset 0 0 8px  rgba(0,0,0,0.1),
            0 0 8px rgba(0,0,0,0.1); 
    box-shadow: 
      inset 0 0 8px  rgba(0,0,0,0.1),
            0 0 8px rgba(0,0,0,0.1); 
    padding: 5px;
    background: rgba(255,255,255,0.5);
    margin: 0 0 10px 0;
    width: 100%;
}
#request_photo img
{
	position: fixed;
	top: 100px;
	left: 60px;
	width: 470.86px;
	height: 353.14px;
	border: 10px solid #7D7D7D;
}
#request_para
{
	position: fixed;
	left: 970px;
	top: 200px;
	width: 275px;
	background-color: #7D7D7D;
	border: 10px solid #7D7D7D;
	text-align: center;
}
#request_para p
{
	font-family: 'Open Sans';
  	font-style: normal;
  	font-weight: 300;
  	border: black 2px solid;
  	padding-top: 10px;
}
h1
{
	font-family: 'Open Sans';
  	font-style: normal;
  	font-weight: 50;
  	font-size: 16px;
  	text-align: center;	
}
textarea
{
	border: 5px solid white; 
    -webkit-box-shadow: 
      inset 0 0 8px  rgba(0,0,0,0.1),
            0 0 8px rgba(0,0,0,0.1); 
    -moz-box-shadow: 
      inset 0 0 8px  rgba(0,0,0,0.1),
            0 0 8px rgba(0,0,0,0.1); 
    box-shadow: 
      inset 0 0 8px  rgba(0,0,0,0.1),
            0 0 8px rgba(0,0,0,0.1); 
    padding: 5px;
    background: rgba(255,255,255,0.5);
    margin: 0 0 10px 0;
    width: 100%;
}
::-webkit-input-placeholder { /* WebKit browsers */
    color: #7A7A7A;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color: #7A7A7A;
    opacity:  1;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
    color: #7A7A7A;
    opacity:  1;
}
:-ms-input-placeholder { /* Internet Explorer 10+ */
    color: #7A7A7A;
}
h2
{
	font-family: 'Open Sans';
  	font-style: normal;
  	font-weight: 50;
  	font-size: 20px;
  	text-align: center;
  	padding-bottom: 5px;	
}
